# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders and Stuff
.gitignore
.vs
.vs/*
.vscode
.vscode/*
bin
bin/*
assets
assets/*
out
out/*
CMakeFiles
CMakeFiles/*
logs
logs/*
cmake_install.cmake
CMakeCache.txt
Doxyfile